
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

body { overflow:hidden; background-color: #000; color:#fff;}

#pictureSlider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:-999;
}
#pictureSlider div { height:100%; width:100%; position:absolute; z-index:-999; }